body {
	background-color: #189BCC;
	margin: 50px;
}
header {
	width: 75vw;
	margin: 25px auto;
}
main {
	width: 75vw;
	margin: 25px auto;
	display: flow-root;
}
.col {
	width: 50%;
	float: left;
}
h2 {
	color:black;
	font-family: "century-gothic", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 35px;
}
li {
	color:black;
	font-family: "century-gothic", sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 20px;
}
a {
	color:black;
	text-decoration-color: white;
	font-family: "century-gothic", sans-serif;
	font-weight: 600;
	font-style: normal;
}
a:hover {
	color: #BECC41;
}

a:active {
	color: #EA213A;
}

/***** media guearies ****/
@media screen and (max-width: 861px) {
	.col {
		width: 100%;
	}
}
img {
	max-width: 100%;
}