body {
	background-color: #189BCC;
	margin: 50px;
}
h2 {
	color:black;
	font-family: "century-gothic", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 35px;
}
li {
	color:black;
	font-family: "century-gothic", sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 20px;
a {
	color:black;
	text-decoration-color: white;
	font-family: "century-gothic", sans-serif;
	font-weight: 600;
	font-style: normal;
}
a:hover {
	color: #BECC41;
}

a:active {
	color: #EA213A;
}