body {
	background-color: royalblue;
	margin: 50px;
}
h2 {
	color:white;
	font-family: "futura-pt", sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 35px;
}
li {
	color:white;
	font-family: "futura-pt", sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 20px;
a {
	color:white;
	text-decoration-color: aqua;
	font-family: "futura-pt", sans-serif;
	font-weight: 600;
	font-style: normal;
}
a:hover {
	color: tomato;
}