body {
	background-color: black;
	margin: 0;
}
@media screen and (max-width: 900px) {
		body {
			background-color: white;
		}
		h1 {
			color: tomato;
			text-align: center;
			margin-top: 300px;
			font-size: 60px;
	}
	}
h1 {
		color: tomato;
		text-align: center;
		margin-top: 400px;
		font-size: 200px;
	}